/* " !important " overrides the default stylings in css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 100% Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: white;
}

/* navbar */

nav {
    height: 90px;
    background-color: #932E2E;
}

.nav-title {
    color: #fff !important;
    font-size: 35px;
    position: absolute;
    top: 21px;
    left: 4%;
    text-decoration: none;
    font-weight: bold;
}

.navResponse {
    position: fixed;
    top:90px;
    left:0;
    height:100vh;
    width:250px;
    z-index: 999;
    padding-top: 30px;
    background-color: #9d4747d2;
    backdrop-filter: 10px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav-item2 {
    line-height: 45px;
    margin: 0 15px;
    padding:10px;
    font-size: 25px;
    font-weight: bold;
}

.dropdown-menu2 {
    position: absolute;
    left:0;
    width:200px;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown2:hover .dropdown-menu2 {
    display:flex;
    flex-direction: column;
    align-items:flex-start; 
    justify-content:flex-start;
}

.dropdown-item2 {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.noResponse {
    float: right;
    padding-top: 28px;
    padding-right: 15px;
    margin-right: 25px;
}

.nav-item {
    display: inline-block;
    line-height: 45px;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

.nav-link {
    position: relative;
    color: #fff !important;
    padding: 5px 0 !important;
    text-transform: uppercase;
}

.nav-link:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

.nav-link:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

label {
    color:#fff;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    
}

label #menuBtn,
label #cancelBtn {
    display: none;
}

#check {
    display: none;
}

.dropdown-menu {
    position: absolute;
    top: 80px;
    left:10;
    background-color: #fff;
    border: 1px solid #9d4747;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    color:#932E2E !important;
    font-weight: bold !important;
   
}

.dropdown-item:hover {
    background-color: #932E2E !important;
    color: #fff !important;
}

.dropdown-item:active {
    background-color: #932E2E !important;
    color: #fff !important;
}

/* navbar ends */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

main > h1 {
    grid-column: span 12;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

main .page-title {
    color:#932E2E;
    background-color: #fbf4f4;
    font-weight: bold;
    text-transform: uppercase;
}

main .about-title {
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
}

/* home portfolio container */

main .portfolio-title {
    color:#932E2E;
    background-color: #fbf4f4;
    font-weight: bold;
}

.home-container {
    top:-80px;
    position:relative;
    max-width:1400px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
}

main .home-illcontainer {
    top:-40px;
}

main .home-illcontainer .card {
    margin: 20px;
}

.home-container .card {
    width: 350px;
    position:relative;
    height: 290px;
    background-color: #9d4747;
    color:#fbf4f4;
    margin: 10px 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    border-radius: 3px;
    font-weight: bold;
}

.home-container .card .imgBox {
    position: relative;
    left:10px;
    width: 300px;
    height: 159px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.2);
    border-radius: 5px;
}

.home-container .card .imgBox img {
    max-width: 100%;
    padding-bottom: 15px;
    border-radius: 3px;
} 

main .portfolio-link {
    background-color: #9d4747;
    color:#fbf4f4;
    text-decoration: none;
    padding-top:10px;
}

main .portfolio-link:hover {
    text-decoration: underline;
}

main .portfolioBtn {
    grid-column: 6 / span 2;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color:#932E2E;
    color:#fbf4f4;
    border-radius: 0;
    border: none;
    padding: 15px;
    font-weight: bold;
}

.portfolioBtn:hover {
    background-color:  rgb(250, 224, 224);
    color:#932E2E;
}

.portfolioBtn:active {
    background-color: rgb(250, 224, 224);
    color: #932E2E;
}

/* home portfolio container ends */

/* home blog container */

.blog-container {
    top:-60px;
    position:relative;
    max-width:1400px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
}

.blog-container .card {
    width: 350px;
    position:relative;
    height: 270px;
    background-color: #fbf4f4;;
    color:#9d4747;
    margin: 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    border-radius: 3px;
    font-weight: bold;
}

.blog-container .card .imgBox {
    position: relative;
    left:10px;
    width: 300px;
    height: 169px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.2);
    border-radius: 5px;
}

.blog-container .card .imgBox img {
    max-width: 100%;
    padding-bottom: 15px;
    border-radius: 3px;
} 

section {
    padding: 20px;
    color:#fff;
    background-color: #9d4747;
}

section .blog-title {
    grid-column: span 12;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    
}

section .blog-link {
    background-color: #fbf4f4;;
    color:#9d4747;
    text-decoration: none;
    padding-top:10px;
}

section .blog-link:hover {
    text-decoration: underline;
}

section .blogBtn {
    grid-column: 6 / span 2;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    color:#932E2E;
    border: none;
    padding: 15px;
    font-weight: bold;
}

.blogBtn:hover {
    background-color: #932E2E;
    color: #fff;
}

.blogBtn:active {
    background-color: #932E2E;
    color: #fff;
}



/* home blog container ends */

/* portfolio container */

.portfolio-container {
    top:-60px;
    position:relative;
    max-width:1400px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    
}

.portfolio-container .card {
    width: 400px;
    position:relative;
    height: 400px;
    background-color: #9d4747;
    color:#fbf4f4;
    margin: 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    border-radius: 3px;
    font-weight: bold;
}

.portfolio-container .card .imgBox {
    position: relative;
    left:9px;
    width: 350px;
    height: 350px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.2);
    border-radius: 5px;
}

.portfolio-container .card .imgBox img {
    max-width: 100%;
    padding-bottom: 15px;
    border-radius: 3px;
} 

/* portfolio container ends */

/* uiux portfolio container */

.uiux-container {
    top:-60px;
    position:relative;
    max-width:1400px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    
}

.uiux-container .card {
    width: 308px;
    position:relative;
    height: 620px;
    background-color: #9d4747;
    color:#fbf4f4;
    margin: 30px 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    border-radius: 3px;
    font-weight: bold;
}

.uiux-container .card .imgBox {
    position: relative;
    left:9px;
    width: 260px;
    height: 150px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.2);
    border-radius: 5px;
}

.uiux-container .card .imgBox img {
    max-width: 100%;
    padding-bottom: 15px;
    border-radius: 3px;
}   

/* uiux portfolio container ends */

/* illustration portfolio  container */

.illustration-container {
    top:-60px;
    position:relative;
    max-width:1400px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
}

.illustration-container .card {
    width: 350px;
    position:relative;
    height: 400px;
    background-color: #9d4747;
    color:#fbf4f4;
    margin: 30px 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    border-radius: 3px;
    font-weight: bold;
}

.illustration-container .card .imgBox {
    position: relative;
    left:10px;
    width: 300px;
    height: 300px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.2);
    border-radius: 5px;
}

.illustration-container .card .imgBox img {
    max-width: 100%;
    padding-bottom: 15px;
    border-radius: 3px;
} 

/* illustration container ends */

/* photography portfolio container */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

article .page-title {
    color:#932E2E;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .photography-grid {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .photography-grid img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 3px;
}

/* photography portfolio container ends */

header .mainImg {
    grid-column: 1 / span 6;
    float: left;
    position: relative;
}


header .mainImg img {
    max-width: 100%;
}

main .resumeImg {
    display: flex;
    flex-direction: column;
    grid-column: span 12;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
}

.learnMoreBtn {
    grid-column: span 5;
    background-color: #fff;
    color:#932E2E;
    border: none;
    padding: 15px;
    font-weight: bold;
}

.learnMoreBtn:hover {
    background-color: #932E2E;
    color: #fff;
}

.learnMoreBtn:active {
    background-color: #932E2E;
    color: #fff;
}

@media only screen and (max-width: 1400px) {
    .learnMoreBtn {
        grid-column: span 6; 
    }
    section .blogBtn {
        grid-column: 5 / span 4;
    }
    main .portfolioBtn {
        grid-column: 5 / span 4;
    }
    header .mainImg { 
        grid-column: span 6;
    }
    .responsiveImg {
        width: 100%;   
    }
    main .resumeImg {
        grid-column: span 12;
    }
}

@media only screen and (max-width: 1300px) {
    .learnMoreBtn {
        grid-column: span 8;
    }
    section .blogBtn {
        grid-column: 5 / span 4;
    }
    main .portfolioBtn {
        grid-column: 5 / span 4;
    }
    header .mainImg { 
        grid-column: span 6; 
    }
    .responsiveImg {
        width: 100%;  
        height:700px;  
    }
    main .resumeImg {
        grid-column: span 12;
    }
}

@media only screen and (max-width: 1200px) {
    .learnMoreBtn {
        grid-column: span 12;
    }
    section .blogBtn {
        grid-column: 5 / span 4;
    }
    main .portfolioBtn {
        grid-column: 5 / span 4;
    }
    header .mainImg { 
        grid-column: span 6; 
    }
    .responsiveImg {
        width: 100%;  
        height:600px; 
    }
    main .resumeImg {
        grid-column: span 12;
    }
}

@media only screen and (max-width: 1000px) {
    .learnMoreBtn {
        grid-column: span 12;
    }
    section .blogBtn {
        grid-column: 5 / span 4;
    }
    main .portfolioBtn {
        grid-column: 5 / span 4;
    }
    header .mainImg { 
        grid-column: span 6; 
    }
    .responsiveImg {
        width: 100%;  
        height:600px;  
    }
    main .resumeImg {
        grid-column: span 12;
    }
}

@media only screen and (max-width: 900px) {
   
    header .mainImg { 
        grid-column: span 6;
    }
    header .responsiveImg {
        width: 100%; 
        height:600px;  
    }
    main .resumeImg {
        grid-column: span 12;
    }
}

@media only screen and (max-width: 800px) {
    header .mainImg { 
        grid-column: span 12; 
    }
    .responsiveImg {
        width: 100%;
         
    }
    main .resumeImg {
        grid-column: 4 / span 6;
    }
}

@media only screen and (max-width: 700px) {
    header .mainImg {
        grid-column: span 12;
    }
    .responsiveImg {
        width: 100%;   
         
    }
    main .resumeImg {
        grid-column: 5 / span 4;
    }
}

header .intro {
    float: left;
    width: 100%;
    grid-column: 7 / span 6;
    justify-self: end;
    padding: 100px;
    color:#fff;
    background-color: #9d4747;
}

.intro h1 {
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro p {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    padding: 20px;
    background-color: #fbf4f4;
}

main > h2 {
    grid-column: span 12;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.about-main {
    background-color: #9d4747;
}

main .aboutImg {
    grid-column: span 6;
    float: left;
}

main .about {
    float: left;
    width: 100%;
    grid-column: 7 / span 6;
    justify-self: end;
    padding-left: 20px;
    color:#fff;
    font-size: 20px;
}

main .contact-title {
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #9d4747;
    background-color: #fbf4f4;
    font-family: "bookmania", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    text-decoration: underline;
    text-transform: uppercase;
}

main .email {
    float: left;
    width: 100%;
    grid-column: span 6;
    text-align: center;
    font-weight: bold; 
    color: #9d4747;
}

main .email > h4 {
    font-family: "bookmania", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}

main .email > p {
    font-family: "bookmania", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
}

main .linkedin-link {
    float: left;
    width: 100%;
    grid-column: span 6;
    text-align: center;
    font-weight: bold; 
    color: #9d4747;
}

main .linkedin-link > h4 {
    font-family: "bookmania", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}

main .linkedin-link > a {
    font-family: "bookmania", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    color: #9d4747;
    text-decoration: none;
}

main .linkedin-link > a:hover {
    text-decoration:underline;
}

@media screen and (max-width: 1100px) {
    main .aboutImg {
        grid-column: span 6;
        float: left;
    }
    main .about {
        font-size: 18px;
        text-align: left;
    }
}

@media screen and (max-width: 900px) {
    main .aboutImg {
        grid-column: span 6;
        float: left;
    }
    main .about {
        font-size: 15px;
        text-align: left;
        
    }
}

@media screen and (max-width: 800px) {
    main .aboutImg {
        grid-column: span 12;
        float: left;
    }
    main .about {
        grid-column: span 12;
        font-size: 18px;
        text-align: left;
        padding-top: 15px;
    }
    main .email {
        grid-column: span 12;
    }
    main .linkedin-link {
        grid-column: span 12;
    }
}

@media screen and (max-width: 700px) {
    main .aboutImg {
        grid-column: span 12;
        float: left;
    }
    main .about {
        grid-column: span 12;
        font-size: 18px;
        text-align: left;
        padding-top: 15px;
    }

    main .email {
        grid-column: span 12;
    }
    main .linkedin-link {
        grid-column: span 12;
    }
}

main .highlight-title {
    color:#932E2E;
    background-color: #fbf4f4;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    main .card {
        grid-column: 3 / span 8;
    }
    section .card {
        grid-column: 3 / span 8;
        margin: 20px;
    }
}


@media only screen and (max-width: 1300px) {
    header .intro {
        grid-column: span 6;
        text-align: left;
        padding: 80px;
    }
    header .intro h1 {
        font-size: 35px;
    }
    header .intro p {
        font-size:25px;
        text-align: left;
    } 
}

@media only screen and (max-width: 1200px) {
    header .intro {
        grid-column: span 6;
        text-align: left;
        padding: 80px;
    }
    header .intro h1 {
        font-size: 35px;
    }
    header .intro p {
        font-size:25px;
        text-align: left;
    } 
}


@media screen and (max-width: 1000px) {
    .nav-title {
        left: 8%;
    }
    header .intro {
        grid-column: span 6;
        text-align: left;
        padding: 80px;
    }
    header .intro h1 {
        font-size: 35px;
    }
    header .intro p {
        font-size:25px;
        text-align: left;
    }
}

@media screen and (max-width: 944px) {
    .nav-title {
        left: 6%;
        top: 25px;
        font-size: 32px;;
    }
    .nav-item {
        font-size: 15px;
    }
    header .intro {
        grid-column: span 6;
        text-align: left;
        padding: 80px;
    }
    header .intro h1 {
        font-size: 33px;
    }
    header .intro p {
        font-size:22px;
        text-align: left;
    }
  
}

@media screen and (max-width: 860px) {
    label #menuBtn, #cancelBtn {
        display: block;
        line-height: 80px;
        margin-right: 10px;
    }
    .navResponse {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #9d4747;
        top: 90px;
        left: -100%;
        transition: all .5s;
    }
    .noResponse {
        display:none;
    }
    .dropdown-menu2 {
        position: relative;
        width:100%;
        left: 0;
        top:0;
    }
    .dropdown-item2 {
        position: relative;
        width:100%;
    }

    .dropdown-item2:before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background: white;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .4s linear;
    }
    
    .dropdown-item2:hover:before{
        transform: scaleX(1);
        transform-origin: left;
    }
   
    #check:checked ~ ul {
        left:0;
    }
    #check:checked ~ label #menuBtn {
        display:none;
    }
    #check:checked ~ label #cancelBtn {
        display:block;
    }
    header .intro {
        grid-column: span 6;
        text-align: left;
        padding: 60px;
    }
    header .intro h1 {
        font-size: 25px;
    }
    header .intro p {
        font-size:20px;
        text-align: left;
    }
}
@media screen and (max-width: 800px) {
    header .intro {
        grid-column: span 12;
    }
}

@media screen and (max-width: 700px) {
    header .intro {
        grid-column: span 12;
        text-align: left;
        width:100%;
    }
    header .intro h1 {
        font-size: 30px;
    }
    header .intro p {
        font-size:20px;
        text-align: left;
    }
    section .blogBtn {
        grid-column: span 12;
    }
    main .portfolioBtn {
        grid-column: span 12;
    }
}

footer {
    height: 90px;
    background-color: #932E2E;
}

footer .copyright {
    color: #fff;
    font-size: 15px;
    position: absolute;
    padding-top: 36px;
    left: 4%;
    text-transform: uppercase;
}

/* Style all font awesome icons */
.fa {
    float:right;
    margin-top: 35px;
    margin-right: 45px;
    padding: 4px;
    font-size: 15px;
    width: 22px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    background: #fff;
    color: #3B5998;
  }
  
  /* Set a specific color for each brand */
  
  /* LinkedIn */
  .fa-linkedin {
    background: #3B5998;
    color: white;
  }
 





