* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 100% Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
}

body {
    font: 100% Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding-bottom: 20px;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  /* " !important " overrides the default colors in css */

  .nav-link:hover {
    color: #772424 !important;
  }

  .dropdown-item:hover {
    background-color: #772424 !important;
    color: #fff !important;
  }

  .dropdown-item:active {
    background-color: #772424 !important;
    color: #fff !important;
  }

  .btn-bd-primary {
    --bd-red-bg: #772424;
    --bd-red-rgb:var(--bd-red-bg);

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg:var(--bd-red-bg);
    --bs-btn-border-color: var(--bd-red-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #772424;
    --bs-btn-hover-border-color: #772424;
    --bs-btn-focus-shadow-rgb:var(--bd-red-rbg);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #772424;
    --bs-btn-active-border-color: #772424;
  }

  #grid-container {
    margin-top: 40px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#grid-container div {
    height: 400px;
    width: 400px;
    border-radius:0px;
    border:10px;
    border-style:groove;
    margin: 0.5rem;
    padding: 4.5rem;
    border-color: rgb(255, 255, 255);
    font-size: 40px;
    text-align:center;
    background-color: #F7C1C1;
    color: #772424;
}

#grid-container div:hover {
    background-color: #772424;
    color:#F7C1C1;
}